


.dragDropArea {
  text-align: center;
  margin: 100px auto;
  padding: 10px;
  width: 450px;
  border: 3px solid black;
}

.item {
  margin-bottom: 20px;
  font-size: 70px;
  border: 1px solid blueviolet;
}
